/* Steam Button */
.btn-gray {
  color: #ffffff;
  background-color: #262626;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  color: #ffffff;
  background-color: #171A21;
}

/* Reddit Button */
.btn-reddit {
  color: #ffffff;
  background-color: #ff5700;
}

.btn-reddit:hover,
.btn-reddit:focus,
.btn-reddit:active,
.btn-reddit.active,
.open .dropdown-toggle.btn-reddit {
  color: #ffffff;
  background-color: #ff4500;
}
