/* Steam Button */
.btn-gray {
  color: #ffffff;
  background-color: #262626;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  color: #ffffff;
  background-color: #171A21;
}

/* Reddit Button */
.btn-reddit {
  color: #ffffff;
  background-color: #ff5700;
}

.btn-reddit:hover,
.btn-reddit:focus,
.btn-reddit:active,
.btn-reddit.active,
.open .dropdown-toggle.btn-reddit {
  color: #ffffff;
  background-color: #ff4500;
}

/* Gratipay Button */
.btn-gratipay {
  color: #ffffff;
  background-color: #339966;
}

.btn-gratipay:hover,
.btn-gratipay:focus,
.btn-gratipay:active,
.btn-gratipay.active,
.open .dropdown-toggle.btn-gratipay {
  color: #ffffff;
  background-color: #2D8A5C;
}

/* IRC Button */
.btn-irc {
  color: #ffffff;
  background-color: #663399;
}

.btn-irc:hover,
.btn-irc:focus,
.btn-irc:active,
.btn-irc.active,
.open .dropdown-toggle.btn-irc {
  color: #ffffff;
  background-color: #5C2E8A;
}

/* StackExchange Button */
.btn-stack {
  color: #ffffff;
  background-color: #5184C1;
}

.btn-stack:hover,
.btn-stack:focus,
.btn-stack:active,
.btn-stack.active,
.open .dropdown-toggle.btn-stack {
  color: #ffffff;
  background-color: #19549A;
}
