.center {
  margin: 0 auto;
  text-align: center;
}

#both-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#warning {
  color: orange;
  font-family: 'Ubuntu', sans-serif;
}

.js #more-btn { display: none; }

.js #noJS { display: none; }

#wrapper {
  min-height:100%;
  position:relative;
}
#footer {
  text-align: center;
  color: #545454;
  width:100%;
  height:20px;
  position:absolute;
  bottom:0;
  left:0;
  font-family: 'Ubuntu', sans-serif;
}

#footer a {
  color: #696969;
  text-decoration: none;
}

#footer a:hover {
  font-style: italic;
}

#footer a:active {
  font-style: italic;
  font-weight: bold;
}

.arrow {
  top: 50%;
  max-width: 7%;
  max-height: 7%;
  position: absolute;
}

i.fa-slack-rotate-19-degrees {
    -ms-transform: rotate(19deg);
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
}

.name {
  font-size:100px;
  color: #3B5DF5;
  line-height: 1;
}

.subtitle {
  font-size:20px;
  color: #00bfff;
  padding-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
